.topbar {
  background-color: #111;
  color: #fff;
  font-size: 14px;
  padding: 0.5rem 0;

  svg {
    color: red;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}
