.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.card {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  background: #fff;
  transition: transform 0.2s;

  img {
    width: 100%;
    object-fit: contain;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  p:first-of-type {
    color: #96a0b4;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0.25rem 0;
  }

  p:last-of-type {
    color: #d10023;
    font-weight: 900;
    margin: 0.5rem;
  }
}

@media (min-width: 600px) {
  .card {
    flex: 1 1 45%;
    max-width: 40%;
  }
}

@media (min-width: 1024px) {
  .card {
    flex: 1 1 22%;
    max-width: 22%;
  }
}
@media (min-width: 1280px) {
  .card {
    flex: 1 1 22%;
    max-width: 20%;
  }
}