@import 'https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap';

:root {
  --main-font: 'Outfit', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--main-font), sans-serif;
  background-color: #f9f9f9;
}