.header {
  padding: 1rem 0;
  background-color: #0c0c0c;
  color: white;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.banner {
  background: #ccc;
  width: 600px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  font-weight: bold;
}
